
*.csproj
*.sln
*.userprefs
*.unityproj

/ClientProject/Library/*.log
/ClientProject/Library/AssetServerCacheV3
/ClientProject/Library/CurrentLayout.dwlt
/ClientProject/Library/ScriptMapper
/ClientProject/Library/assetDatabase3
/ClientProject/Library/guidmapper
/ClientProject/Library/shadercompiler-1.log
/ClientProject/Library/ScriptAssemblies
/ClientProject/Library/ShaderCache
/ClientProject/Library/metadata
/ClientProject/Temp
