
*.csproj
*.sln
*.userprefs
*.unityproj
.DS_Store

/Client/Library/*.log
/Client/Library/AssetServerCacheV3
/Client/Library/CurrentLayout.dwlt
/Client/Library/ScriptMapper
/Client/Library/assetDatabase3
/Client/Library/guidmapper
/Client/Library/shadercompiler-1.log
/Client/Library/ScriptAssemblies
/Client/Library/ShaderCache
/Client/Library/metadata
/Client/Library/CurrentMaximizeLayout.dwlt
/Client/Temp
/Publish
